.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between; 
 
  height: 120px;
  padding: 0 24px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navbar-link {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  margin-left: 24px;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.navbar-link:hover {
  background-color: #f2f2f2;
}

.navbar-link.active {
  background-color: #333333;
  color: #ffffff;
}


.logo5{
  width: 90%;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));

}

.navbar-links {
  width: 60%; /* Set the links container width to 50% */
  display: flex;
  justify-content: flex-start; /* Align links to the right */
}

















/* Styles for mobile devices */
@media (max-width: 1068px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    height: 130px; /* Adjust the height for mobile devices */
     /* Adjust the padding for mobile devices */
     
  }

  .navbar-link {
    font-size: 36px; /* Adjust the font size for mobile devices */
   /* Adjust the margin for mobile devices */
     /* Adjust the padding for mobile devices */
     border: 1px solid black;
     border-radius: 10%;
     padding: 15px;
     background-color: aquamarine;
     box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
     
  }

  .navbar-links {
    width: 90%; /* Set the links container width to 100% for mobile devices */
    justify-content: flex-start; /* Align links to the left for mobile devices */
     /* Hide the links by default for mobile devices */
     font-size: 36px;
     
  }

  .navbar-links.active {
    display: flex; /* Show the links when the navbar is active for mobile devices */
    flex-direction: column; /* Align links vertically for mobile devices */
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .logo5{
    filter: drop-shadow(0 0 0.75rem crimson);
    width: 300px;
    height: 100px;

  }
}
