/* Metal Names */
.metal-names {
  margin-bottom: 20px;
  width: 100%;
  
}
.metaladd{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

 

}
h4{
  margin: 0;
  text-align: center;
}
.metaladdul{
  border: 1px solid black;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  margin-right: 20px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  min-width: 50%;
  min-height: 50px;
  max-height: 200px;
  overflow-y: scroll;
  background-color: white;
}
.metaladdul1{
  border: 1px solid rgb(222, 41, 41);
 
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
 
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
  min-height: 50px;
  max-height: 50%;
  background-color: white;

}



.tableaddb{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 10px;
}




.metal-names li {
  display: inline-block;
  padding: 5px;
  
 
  background-color: #F8BCBC;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.metal-names li.selected {
  background-color: #5252d4;
  color: white;
  box-shadow: 10px 10px 10px rgb(149, 149, 149);
}



.metal-names label {
  display: block;
  margin-bottom: 5px;
}

.metal-names input[type="text"] {
  flex-grow: 1;
  
  padding: 10px;
  border: 1px solid black;
 
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  font-size: 13px;
}

.metal-names button {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  font-size: 13px;
  background-color: rgb(46, 243, 46);
  border: 1px solid black;
}
#delete{
 margin-right: 2px;

  border: none;

  cursor: pointer;

}



/* Metal Table */
.metal-namta {
  width: 100%;
  /* max-height: 100px; */
  border-collapse: collapse;

}
.wholetable{
  width: 100%;
  max-height: 350px;
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 5px;

}
.metal-totalitr{
  background-color: #f2f2f2;
}

.metal-namta th,
.metal-namta td {
  padding: 10px;
  border: 1px solid rgb(25, 24, 24);
  text-align: center;
  background-color: white;
}

.metal-namta th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.metal-namta tfoot td {
  font-weight: bold;
}

.metal-namta input[type="text"],
.metal-namta input[type="number"] {
  width: 80%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background: #D5EE97;
border: 1px dashed #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-size: large;



}

.metal-totali {
  text-align: right;
  font-weight: bold;
}

.metal-totali1,
.metal-totali2 {
  font-weight: bold;
  text-align: center;
}

.titlebv{
  font-size: 0.9375rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #EF2D56;
  border-radius: 0.9375rem;
  -webkit-border-radius: 0.9375rem;
  -moz-border-radius: 0.9375rem;
  padding: 0.3125rem 0.6875rem;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: #050505;
  -webkit-box-shadow: inset 40px -21px 0px -16px rgba(51,51,51,0.98);
  -moz-box-shadow: inset 40px -21px 0px -16px rgba(51,51,51,0.98);
  box-shadow: inset 40px -21px 0px -16px rgba(51,51,51,0.98);
  width: 9%;
  margin-bottom: 15px;
}

.step4{
  position: absolute;
  top: -60px;
  left: 40px;

}
.step4b{
 border: 1px solid black;

 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: aquamarine;
  font-size: 20px;
}
.tabledivcoli{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 98%;
  height: 80%;
  min-height: 400px;
  max-height: 600px;
  position: relative;
  margin-bottom: 30px;
}



.nameanddelete{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
border: 1px solid black;
border-radius: 5px;
margin: 3px;
margin-right: 15px;
padding-right: 0;
height: 40%;

}




.nameanddelete {
  position: relative;
}

.trash-icon {
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translate(0, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.nameanddelete:hover .trash-icon {
  opacity: 1;
}


.handlog1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;

}


.addi{
  padding: 10px 20px;
  background-color: #2ecc71;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* width: 100px; */
  
  
  

  margin-top: 20px;
}